body {
  margin: 0;
  font-family: 'Anton', sans-serif;
  color: #aaa;
  background-color: #ddd !important;
  padding-top: 100px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  position: relative;
  z-index: 5; /* Asegura que esté por debajo del header */
  background-color: rgb(177, 171, 171);
  color: black;
  width: 100%;
}

h5{
    color: green ;
}